@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50 antialiased;
}
